

/* 더보기 */
.title{
  display: inline;

}
.title-sub{
  cursor: pointer;
  text-align: right;
  display: inline;
  line-height: 44px;
  font-size: 15px;
  height: 44px;
  vertical-align: middle;
  padding-right: 70px;
}


/* 인기향수리스트 */
.title-popular{
  font-weight: bold;
  padding: 10px;
  padding-left: 70px;
  display: inline;
}
.perfume-popular-area{
  justify-content: center;
}

.perfume-popular-items{
  text-align: center;
  /* display: inline; */
  padding-top: 10px;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.perfume-popular-item{
 border: 2.5px solid rgb(223, 223, 223);
 margin: 0 20px;
 margin-bottom: 20px;
  box-shadow: 2px 3px 5px 0px rgb(223, 223, 223);
}
.perfume-popular-item:hover{
  transform: scale(1.1);
}
.perfume-popular-item img{
  height: 150px;
  /* content: url(".\assets\tempImg\123359405127241D28.jpg"); */
}

.perfume-popular-item img:hover{
  /* background: '.\assets\tempImg\다운로드 (2).jpg'; */
  /* content: url("./public\assets\tempImg\다운로드 (2).jpg"); */
  content: url("../../../public/assets/tempImg/다운로드\ \(2\).jpg");
}



/* 해시태그 */
.product-hashtag{
  display: block;
  padding: 10px 0 10px;
  cursor: pointer;
}
.product-hashtag ul{
  margin-left: auto;
  margin-right: auto;
  display: table;
  /* justify-content: flex-end; */
}

.product-hashtag ul:nth-child(2){
  margin-left: auto;
  margin-right: auto;
  display: table;
  /* justify-content: flex-start; */
}

.product-hashtag ul li{
  color: #5a4366;
  /* float: left; */
  margin: auto 5px;
  min-width: 70px;
  height: 28px;
  line-height: 26px;
  background-color: #acffbe79;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-align: center;
}
/* .product-hashtag ul li:nth-child(3n+1){
  background-color: #acffbe79;
} */

.product-hashtag ul li:nth-child(3n+2){
  background-color: #fffeacad;
}

.product-hashtag ul li:nth-child(3n+3){
  background-color: #ffacf849;
}

.pro-details-likeDislike{
  padding: 30px;
  text-align: center;
  width: 90%;
}

.perfume-popular-hashtag{
  /* justify-content: center;
  text-align: center; */
}

/* 구분선 */
.line{
  width: 100%;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 10px;
}

/* 카드리뷰 */
.item-testimonials{
width: 320px;
height: 370px;
margin: 0 10px;
background: #FAF9FF;
border: 1px solid #CCBDFF;
-webkit-box-sizing: border-box;
box-sizing: border-box;
border-radius: 25px;
padding: 20px 20px;}
.item-testimonials{
width: 400px;
padding: 30px;
height: 430px;
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate{
  transition-delay: .2s;
}
[data-aos^=fade][data-aos^=fade].aos-animate{
  opacity: 1;
  transform: translateZ(0);
}
.text2 {
  font-size: 25px;
}
.title1 {
  font-size: 41px;
  margin-bottom: 15px;
}
.box-slider-testimonials {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.box-slider-testimonials1 {
  width: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
element.style {
  animation: 40s linear 0s infinite normal none running moveSlideshow;
}
.item-testimonials {
  width: 400px;
  padding: 30px;
  height: 430px;
}
.item-testimonials {
  width: 320px;
  height: 370px;
  margin: 0 10px;
  background: #FAF9FF;
  border: 1px solid #CCBDFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 20px 20px;
}
.item-testimonials-stars {
  margin-bottom: 15px;
}
.box-left-labresults .link-more-testimonials, .item-testimonials-date {
  font-size: 18px;
}
.item-testimonials-title {
  font-size: 30px;
}
.item-testimonials-title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  color: #000;
}
.box-item-testimonials-text p {
  font-size: 18px;
}
[data-aos][data-aos][data-aos-easing=linear], body[data-aos-easing=linear] [data-aos] {
  transition-timing-function: cubic-bezier(.25,.25,.75,.75);
}
.slider-testimonials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  width: auto;
  padding: 10px 0px;
  max-width: auto;
}