.community-detail {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 12px;
    /* border-radius: 20px; */
    padding: 30px;
}

.community-detail-maintextbox {
    margin: 30px 20px 50px 20px;
    min-height: 400px;
}

.community-button-remove {
    color: red;
    border: 1px solid red;
    width: 40px;
    background-color: white;
    margin: 0px 3px 0px 3px;
}

.community-button-edit {
    color: blue;
    border: 1px solid blue;
    width: 40px;
    background-color: white;
    margin: 0px 3px 0px 3px;
}

.articleButton {
    margin: 0px 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: none;
}

.community-detail-subtextbox {
    text-align: end;
    font-size: 12px;
    color: gray;
    font-style:italic;
}

.community-write-box {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 12px;
    /* border-radius: 20px; */
    padding: 20px;
}

.community-write-box textarea {
    background-color: white;
    border: 0px;
    resize: none;
}

.community-write-box input {
    margin-top: 10px;
    background-color: skyblue;
    width:80px;
    height:45px;
    padding: 0px;
    border-radius: 20px;
}

.community-write-box input:hover {
    background-color: blue;
}

.comment-select {
    width: 100px;
    border: 1px solid dark !important;
}

.community-comment-card {
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.community-comment-card img {
    width: 100px;
}
.community-comment-card span {
    width: 100px;
}

.community-comment-card textarea {
    background-color: white;
    border: 0;
    resize: none;
    cursor:default;
}

.community-button {
    border: 1px solid dark;
    border-radius: 18px;
}