.community-top-box-active {
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    border:none;
    margin-left: 5px;
    margin-right: 5px;
    color: #8e795c
}

.community-top-box-wait {
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    border:none;
    margin-left: 5px;
    margin-right: 5px;
}

.searchtable {
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.List-regist-button {
    border: none;
    margin: 3px 10px 0px 10px;
    padding: 2px 5px 2px 5px;
}

.community-list-titlebox {
    /* style={{ overflow: "hidden", height: "20px", textAlign:"left" }} */
    overflow: hidden;
    height: 20px;
    text-align: left;
    color: black;
}

.community-list-titletd {
    /* style={{ overflow: "hidden", height: "20px", textAlign:"left" }} */
    display: flex;
    padding-left: 17px !important;
}

.community-list-writertd {
    text-overflow: ellipsis;
    width: 30px;
    color: black;
    overflow: hidden;
    white-space:nowrap;
}

.community-list-writerbox {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}