.mainProfile {
    margin-top:-150px;
    padding: 5px;
    background: #ffffff;
    position: relative;
    border-radius:5%;
    /* border-color:#0b0f1a; */
    /* border-width: 10px; */
}

.profile-top {
    display: flex;
    /*  */
    flex-direction: column;
    align-items: center;
    /*  */
    margin-top: 8%;
    min-height: 100%;
}

.profileBox {
    margin: 0;
    padding:0;

    /* width:30%; */
    width: 85%;
    max-width:470px;
    min-width:220px;
}

.profile-topbar {
    /* width: 50%; */
}

.profileText {
    width: 80%;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBox > div {
    /* margin: 0px 10px 0px 10px; */
    margin: 10px 0px 10px 0px;
    /* background-color: #997c65; */
    /* background-color: #bcada1; */
    /* border-right: 1px solid black; */
    /* border-bottom: 1px solid gray; */
    padding: 10px;
    text-align: center;
    /* border-radius: 12px; */
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width:80%;
    max-width: 400px;
    max-height: 400px;
}

.profile-edit-button {
    width:70%;
    min-width: 120px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 20px;
}

.profile-edit-button:hover {
    background-color: white;
    color: black;
}

.profile-edit-button:active {
    background-color: black;
    color: white;
}

.profilecomment {
    padding : 8px;
}

.profilecomment span {
    background-color: #94c5c8;
    padding : 8px;
    margin: 10px;
    color: ffffff;
}

.profileDataLine {
    width: 80%;
}

.profileDataLine h5 {
    /* margin-left: 10px;
    padding-left: 10px; */
    padding-top: 10px;
}

.hashtagBox {
    margin-top: 20px;
}

.hashtag-title {
    position: relative;
    display:flex;
    justify-content: center;
}

.hashtag-list {
    padding: 5px 10px 5px 10px;
}

.hashtag0 {
    min-width: 40px;
    background-color: #FF7979;
    border: none;
    color: #ffffff;
    border-radius: 7px;
    padding: 3px 7px 3px 7px;
    margin: 0px 5px 4px 5px;
}

.hashtag0:hover {
    color: #C94343;
    text-decoration: underline;
}

.hashtag1 {
    min-width: 40px;
    background-color: #799FFF;
    border: none;
    color: #ffffff;
    border-radius: 7px;
    padding: 3px 7px 3px 7px;
    margin: 0px 5px 4px 5px;
}

.hashtag1:hover {
    color: #4369C9;
    text-decoration: underline;
}

.hashtag2 {
    min-width: 40px;
    background-color: #85AF4B;
    border: none;
    color: #ffffff;
    border-radius: 7px;
    padding: 3px 7px 3px 7px;
    margin: 0px 5px 4px 5px;
}

.hashtag2:hover {
    color: #4F7915;
    text-decoration: underline;
}

.profile-topbar > ul > li a.active{
    /* background-color: rgb(248, 239, 228) !important; */
    background-color: #f4f6fa !important;
    border-bottom: none !important;
}

.profile-maindiv {
    /* background-color: rgb(248, 239, 228); */
    background-color: #f4f6fa;
    width:100%;
    margin:0;
    justify-content: center;
}

.profile-maindiv > hr {
    width: 80%;
}

.perfume-img-box {
    justify-content: end;
    display:flex
}

.perfume-img {
    width:70%;
    display: flex;
}

.profile-perfume-item {
    margin: 9px 0px 9px 0px;
    padding: 0px;
}

.profile-perfume-item > div {
    padding: 0px
}

.perfume-img-box+div {
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.container-temp .pernav {
    position: relative;
}
.pernav-header-title {
background: url("/public/assets/img/nav/perfumeNav.jpg") center bottom no-repeat;
background-size: cover;
}
.pernav .pernav-header .pernav-header-title {
padding-top: 65px;
height: 210px;
}

.tac {
text-align: center;
}